altgraph==0.17.4
certifi==2025.7.14
cffi==1.16.0
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.2.0
coverage==7.10.1
cryptography==41.0.7
cycler==0.12.1
Cython==3.0.8
fonttools==4.50.0
idna==3.10
iniconfig==2.1.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pefile==2023.2.7
pillow==10.2.0
pluggy==1.6.0
pycparser==2.21
Pygments==2.19.2
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyparsing==3.1.2
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.32.4
setuptools==69.0.3
six==1.16.0
tzdata==2024.1
urllib3==2.5.0
